
@keyframes breath {
  from {
    animation-timing-function: ease-out;
    color: black;
  }
  to {
    transform: scale(1.5) translateY(-30px) perspective(10px);
    text-shadow: 0 0 40px var(--glow-color);
    animation-timing-function: ease-in-out;
    color: white;
  }
}

@keyframes trampoline {
  0% {
    transform: translateY(100%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    color: #1d39c4;
    animation-timing-function: ease-in;
  }
}

.splitText-container{
  height: 100%;
  width: 100%;
  overflow: hidden auto;
  scroll-snap-type: y;
  background-color: black;
  section {
    scroll-snap-align: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 2vh;

  section {
    block-size: 70vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-weight: 100;
    letter-spacing: .25em;
    text-transform: uppercase;

    --scalar: 2vw;
    font-size: clamp(
            1.5rem,
            calc(1rem + var(--scalar)),
            8rem);

  }

  p {
    font-weight: lighter;
    line-height: 1.25;
    max-inline-size: 20ch;
    font-size: clamp(1.25rem, calc(1rem + 3vw), 3rem);
  }
  [letter-animation] > span {
    display: inline-block;
    white-space: break-spaces;
  }
  [letter-animation="breath"] {
    --glow-color: white;
    color: gray;

    & > span {
      // --index span的样式，由于每个span时内联重写了自己的--index变量值,因此每个的动画事件会比较有规律地开始
      // alternate 则动画会在奇数次数（1、3、5 等等）正常播放，而在偶数次数（2、4、6 等等）向后播放。
      animation:
              breath 1200ms ease
              calc(var(--index) * 100 * 1ms)
              infinite alternate;
    }
  }
  [letter-animation="hover"] {
    color: white;
    &:hover > span {
      transform: scale(.75) perspective(1px);
    }

    & > span {
      transition: transform .3s ease;
      cursor: pointer;
      will-change: transform;

      &:hover {
        transform: scale(2);
      }
    }
  }
  [word-animation] {
    display: inline-flex;
    color: yellowgreen;
    flex-wrap: wrap;
    gap: 1ch;
  }
  [word-animation="trampoline"] {
    & > span {
      display: inline-block;
      transform: translateY(100%);
      animation:
              trampoline 3s ease
              calc(var(--index) * 150 * 1ms)
              infinite alternate;
    }
  }


}
.splitText-desc{
  color: white;
  font-size: 16px;
  margin-bottom: 100px;
  & h1{
    color: yellowgreen;
  }
}
