

.container {
    min-block-size: 600px;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
}
.gui-split-button button {

    cursor: pointer;
    appearance: none;
    background: none;
    border: none;

    display: inline-flex;
    align-items: center;
    gap: 1ch;
    white-space: nowrap;

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;

    padding-block: 1.25ch;
    padding-inline: 2.5ch;

    color: black;
    outline-offset: -5px;
}
.gui-split-button button:is(:hover, :focus-visible) {
    background: gray;
    color: blueviolet;
}
.gui-split-button button:active{
    background-color: #282c34;
}

.gui-popup-button {
    inline-size: 4ch;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;



    &:focus-within {
        & > .gui-popup {
            transition-duration: var(--in-speed);
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
    }

    & > .gui-popup {
        transform: translateY(5px);

        transition:
                opacity var(--out-speed) ease,
                transform var(--out-speed) ease;
    }
}

.gui-popup {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    inset-block-end: 80%;
    inset-inline-start: -1.5ch;

    list-style-type: none;
    background: #b8a9a9;
    color: red;
    padding-inline: 0;
    padding-block: .5ch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: .9em;
    transition: opacity .3s ease;
}